.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(34, 32, 32);
    color: aliceblue;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    
    .tag{
       // margin-left: 10px;
       width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        :hover {
                color: rgb(79, 79, 235);
                cursor: pointer;
            }
       
    .tags{
        border: 8px, rgb(229, 225, 225), solid;
        border-radius: 15px;
        padding-left: 5px;
        margin: 15px;
    }
  
}
.dest{
  ul {
      :hover {
          color: rgb(79, 79, 235);
          cursor: pointer;
      }
  }
}
.line{
    width: 99%;
    height: 2px;
    background-color: grey;
    align-self: auto;
}
p{
    font-size: 16px;
}
} 